@import 'node_modules/@blaze/css/src/scss/mixins/_tools.mediaqueries';

.o-contact .o-page .o-container {
  @include screen-and-up(large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr;
    grid-auto-flow: column;
    gap: 0 5em;
    align-items: baseline;
    justify-items: center;
    padding-bottom: 3em !important;
  }
}
.o-contact {
  .c-field {
    font-family: var(--text-font-family-copy);
  }
}
