@import 'node_modules/@blaze/css/src/scss/mixins/_tools.mediaqueries';

.o-pricing .o-page .o-container {
  @include screen-and-up(large) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 5em;
    align-items: baseline;
    justify-items: center;
    padding-bottom: 3em !important;
  }
}
